body {
  background: #ffffff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.125em;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font -size: 5.375em;
  line-height: 1.636em;
  margin: 0;
}

h2 {
  font-size: 1.125em;
  margin: 1em 0;
}

h3 {
  font-size: 1.125em;
  margin: 0.8em 0;
}

h4 {
  font-size: 1.125em;
  margin: 0.8em 0;
}

p {
  font-size: 0.875em;
  margin: 1.286em 0;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 75%
  }
}

#section0 .poster {
  background: url(../img/boy.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section1 {
  background-color: #00BFFF;
}

#section2 {
  margin-top: -10px;
}

#section2 #aLot {
  font-style: italic;
  font-size: 18px;
  font-weight: normal !important;
}

#section2 #nowWe {
  font-size: 18px;
  font-weight: bold;
}

#section2 #weAre {
  color: #636363;
  margin-top: 30px;
  font-weight: normal !important;
  font-size: 19px;
}

#section2 .row {
  border: 0px solid red;
  margin-bottom: 0px;
  margin-top: 0!important;
}

#section2 .imgs {
  width: 100px;
}

#section2 .support {
  margin-top: 35px !important;
}

#section2 .support .col {
  text-align: center;
  vertical-align: text-top;
  border: 0px solid red;
}

.poster h1 {
  font-size: 2em;
}

ul,
img {
  display: inline;
  vertical-align: middle;
}

ul.countdown {
  list-style: none;
  margin: 75px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li {
  display: inline-block;
}

ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  color: #efefef;
}

ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
}
