body {
  background: #ffffff;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

#section0 .poster {
  background: url(../img/boy.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section1 {
  background-color: #00BFFF;
}

#section2 {
  margin-top: -10px;
  font-family: Raleway, sans-serif;
}

#section2 .section2-headline-1 {
  font-style: italic;
  font-size: 18px;
  font-weight: normal !important;
}

#section2 .section2-headline-2 {
  font-size: 18px;
  font-weight: bold;
}

.section2-grid {
  color: #999;
  font-size: 16px;
  line-height: 26px;
}

.promo-caption {
  font-size: 26px;
  color: #00BFFF;
}

#section2 .row {
  border: 0px solid red;
  margin-bottom: 0px;
  margin-top: 0!important;
}

#section2 .imgs {
  width: 100px;
}

#section2 .support {
  margin-top: 35px !important;
}

#section2 .support .col {
  text-align: center;
  vertical-align: text-top;
  border: 0px solid red;
}

.poster h1 {
  font-size: 2em;
}

header {
  padding: 20px 35px;
  color: #fbfbef;
}

header h1,
ul,
img {
  display: inline;
  vertical-align: middle;
}

header ul {
  padding: 10px 25px;
  background: #2ECCFA;
  color: #fbfbef;
}

.text-poster {
  background-color: #2ECCFA;
  color: #fbfbef;
  width: 30em;
  margin: 18em 3em;
  font-size: 1em;
  padding: 15px 15px;
}

ul.countdown {
  list-style: none;
  margin: 75px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li {
  display: inline-block;
}

ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  color: #efefef;
}

ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
}
/* Required */

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

media screen and (max-width: 500px) {
  body {
    font-size: 75%
  }
}

#section0 .poster {
  background: url(../img/boy.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section1 {
  background-color: #00BFFF;
}

#section2 {
  margin-top: -10px;
}

#section2 .section2-headline-1 {
  font-style: italic;
  font-size: 18px;
  font-weight: normal !important;
}

#section2 .section2-headline-2 {
  font-size: 18px;
  font-weight: bold;
}

#section2 .promo-caption {
  color: #636363;
  margin-top: 30px;
  font-weight: normal !important;
  font-size: 19px;
}

#section2 .row {
  border: 0px solid red;
  margin-bottom: 0px;
  margin-top: 0!important;
}

#section2 .imgs {
  width: 100px;
}

#section2 .support {
  margin-top: 35px !important;
}

#section2 .support .col {
  text-align: center;
  vertical-align: text-top;
  border: 0px solid red;
}

.poster h1 {
  font-size: 2em;
}

header {
  padding: 20px 35px;
  color: #fbfbef;
}

header h1,
ul,
img {
  display: inline;
  vertical-align: middle;
}

header ul {
  padding: 10px 25px;
  background: #2ECCFA;
  color: #fbfbef;
}

.text-poster {
  background-color: #2ECCFA;
  color: #fbfbef;
  width: 30em;
  margin: 18em 3em;
  font-size: 1em;
  padding: 15px 15px;
}

ul.countdown {
  list-style: none;
  margin: 75px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li {
  display: inline-block;
}

ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  color: #efefef;
}

ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
}

#section0 .poster-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

#section0 .container {
  padding-top: 240px;
}

#section0 .main-text {
  color: #FFF1F1;
  text-align: center;
}

@media screen and (max-width: 400px) {}

.main-text h1 {
  font-family: 'Raleway',
  sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  text-align: center;
  color: #FFF1F1;
  margin-bottom: 30px;
  line-height: 4.2rem;
}

#header {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: #aea;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

#header {
  top: 0px;
}
